<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>综合案例-在线试题Demo</title>
    <!--引入CSS-->
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <style type="text/css">
        pre{background-color:#000;color:#fff;}
    </style>
    <!--引入JS-->
    <script type="text/javascript" src="../js/angular.min.js"></script>
</head>
<body>
<div ng-controller="TestController">
    <h1>{{testTitle}}</h1>
    题目：<input type="text" ng-model="testName"/>
    <br/>
    分数：<input type="text" ng-model="testScore"/>
    <br/>
    <h1>{{previewTitle}}</h1>
    <strong>{{testName}}</strong>({{testScore}}分)
</div>
<script type="text/javascript">
    var myAppModule = angular.module('myApp', [], function() {
        console.log('started');
    });
    /*myAppModule.controller('testController', function($scope) {
     $scope.testTitle = '新建试题';
     $scope.previewTitle = '预览试题';
     $scope.testName = $scope.testScore = '';
     });*/
    var TestController = function($scope) {
        $scope.testTitle = '新建试题';
        $scope.previewTitle = '预览试题';
        $scope.testName = $scope.testScore = '';
    }
</script>
    <pre>
        本实例是一个分别表示题目和分数的两个输入框，下面还有一个实时预览的区域，用来展示题目的最终输出效果。
        1. ng-controller="testController"用来声明一个需要和数据进行绑定的模板区域，它作用域就是这个div内的东西，并起名为testController
           JS代码中定义了一个名为testController的函数与之对应，将在这个函数内完成绑定。
           函数传入一个参数$scope，表示这个作用范围，分别为作用范围内的testTitle、previewTitle、testName、testScore四个变量赋值。此时，h1标签内的{{}}便能得到相应的值了。
           通过{{}}只能完成数据向模板的单向绑定
    </pre>
</body>
</html>
